html{
    width: 100%;
    margin: 0 auto;
}

body {
    margin: 8px;
    display: block;
}

.menu .title {
font-size: 18px;
cursor: pointer;
}

.menu .title::before {
    content: '▶ ';
    color: green;
    font-size: 80%;
}

.menu.open .title::before {
    content: '▼ ';
}

.menu ul{
    margin: 0;
    padding-left: 20px;
    list-style: none;
    display: none;
}

.menu.open ul {
    display: block;
}

.favorite {
    font-style: italic;
}