html {
  background-color: rgb(30, 27, 92);
  color: antiquewhite;
  margin: 0 auto;
  width: 600px;
  height: 100%;
}

.app-wrapper {
  display: grid;
  grid-template-areas:
  "header header"
  "navbar profile";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.header {
  grid-area: header;
  background: rgb(181, 182, 235);
}

.header img {
  height: 100%;
}

.navbar {
  grid-area: navbar;
  background-color: rgb(14, 4, 68);
}

.navbar a {
  text-decoration: none;
}

.profile {
  grid-area: profile;
  background-color: rgb(97, 124, 182);
}

.profile img {
  width: 500px;
}

.avatar img {
  width: 100px;
}