html {
  background-color: rgb(30, 27, 92);
  color: antiquewhite;
  margin: 0 auto;
  width: 600px;
  height: 100%;
  overflow-x: hidden;
}

.app-wrapper {
  display: grid;
  grid-template-areas:
  "header header"
  "navbar profile";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

/* .avatar img {
  width: 100px;
} */

.app-wrapper-content {
    grid-area: profile;
    background-color: rgb(97, 124, 182);
  }